*{
    margin: 0;
    padding: 0;
}


td{ 
  height: 5vw;
  width: 5vw;
 text-align: center;

}
td:hover{
    background-color: rgba(255, 188, 188, 0.342);
}
#a, #b,#d,#e{
 border-right:1px solid black;
 border-bottom: 1px solid black;
}
#c,#f{
    border-bottom:1px solid black ;

}
#h,#g{
    border-right:1px solid black;
   

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
